<h2 class="container">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="container">
    <%= f.label :username %><br/>
    <%= f.text_field :username %>
  </div>
  <div class="container">
    <%= f.label :Firstname %><br/>
    <%= f.text_field :firstname %>
  </div>
  <div class="container">
    <%= f.label :Lastname %><br/>
    <%= f.text_field :lastname %>
  </div>
  <div class="container">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="container">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br>
  <div class="container">
    <%= f.file_field :avatar %>
  </div>
  <div class="container">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
