<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Articles</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  <%= link_to "Home", user_profiles_path %> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid custom-jumbotron_size border">
  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= image_tag(@article.avatar, :size => '60x60') %>
      </div>

      <div class="form-group col-md-10">
        <h1 class="display-3"><%= @article.title %></h1>
        <p class="lead"><%= @article.article_details %></p>
        <p>Published at: <%= @article.created_at %></p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Back</a>
      </div>
    </div>

  </div>
</div>

















<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
  <div class="row ">
    <div class="panel panel-default widget col-lg-12">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="panel-title ">Recent Comments</h3>
        <span class="label label-info">78</span>
      </div>
      <div id="comments">
        <% @comments.each do |comment| %>
          <%= render 'comments/commentshow', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= form_for(@comment, remote: true) do |form| %>
      <%= form.hidden_field(:commentable_id) %>
      <%= form.hidden_field(:commentable_type) %>
      <%= form.label("comment") %>
      <%= form.text_field(:comment_details) %>
      <%= form.submit 'submit' %>
    <% end %>
  <% end %>
</div>











